<h1 style="font-weight: bold; color:Black; text-align: center">
  Employees Details Screen
</h1>

<label style="font-weight: bold;"> Name Search: </label>
<input type="text" [(ngModel)]="inputVal" />

<hr>

<table class="tableCss">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Mobile</th>
    <th>Edit</th>
    <th>Delete</th>
  </thead>
  <tr *ngFor="let emp of dmService.employees | namefilter: inputVal">
    <td>{{ emp.id }}</td>
    <td>{{ emp.name }}</td>
    <td>{{ emp.location }}</td>
    <td>{{ emp.mobile }}</td>
    <td>
      <a routerLink (click)="editEmpDetails(emp.id)">Edit</a>
    </td>
    <td>
      <button
        (click)="deleteEmpDetails(emp.id)"
        style="font-weight: bold; color:Red"
      >
        Delete
      </button>
    </td>
  </tr>
</table>
