.tableCss {
  border: solid 1px #e6e5e5;
}

.tableCss thead {
  background-color: #0094fd;
  color: rgb(2, 0, 0);
  padding: 10px;
}

.tableCss td {
  border: solid 1px #0a6669;
  padding: 10px;
}

table {
    width: 100%;
    text-align: center;
}

input {
    width: 50%;
}
